/* body {
    background: rgb(39, 39, 39);
} */

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display: inline;
}

.checked {
	color: orange;
}

/* .jumbotron { max-height: 275px; } */

.jumbotron h1 {
	/* position: relative;  */
	margin-top: -25px;
	/* display: block; */
	/* font-weight: bold; */
	/* font-size: 30px; */
	/* color: white; */
	/* padding-left: 40px; */
}

.jumbotron .form-group{
    margin-bottom: -25px;
}

.modal-header{
	background-color: #d9534f;
}
.modal-title{
	color: white;
}
.close{
	color: white;
}

@media (max-width: 770px) {
	#search{
		margin-top: 5px;
	}
}