.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
	display: inline;
}

.checked {
	color: orange;
}

.jumbotron h1 {
	margin-top: -25px;
}

.jumbotron .form-group{
    margin-bottom: -25px;
}

.myModalHeader{
	background-color: #d9534f;
}
.myModalTitle{
	color: white;
}
.myClose{
	color: white;
}
.myLikesHeader{
	background-color: #428bca;
}

.myLikesTitle{
	color: white;
}

@media (max-width: 1600px) {
	.myLogin{
		width: 30%; 
		margin: 25px auto;
	}
}

@media (max-width: 1000px) {
	.myLogin{
		width: 50%; 
		margin: 25px auto;
	}
}
@media (max-width: 770px) {
	#search{
		margin-top: 5px;
	}
	.myLogin{
		width: 70%; 
		margin: 25px auto;
	}

}
@media (max-width: 600px) {
	.myLogin{
		width: 80%; 
		margin: 25px auto;
	}
}